-# -if current_user.already_liked?(@post)
-#   = link_to post_like_path(@post), class: "like-btn", method: :delete, remote: true do
-#     = icon('fas', 'heart', class: "like-icon-off")
-# -else
-#   = link_to post_likes_path(@post), class:"like-btn",method: :post, remote: true do
-#     = icon('fas', 'heart', class: "like-icon-on")
-# .like-count
-#   = link_to @post.likes.count, fromlike_post_path, class: "like-count-link"
