.account-page {
  background-color: #dcdcdc;
  .account-page__inner {
    width: 980px;
    margin: 60px auto;
    padding: 60px;
    background-color: #dcdcdc;
    border: 1px solid #ddd;
    border-radius: 5px;

    .account-page__inner--left, .account-page__inner--right {
      float: left;
      width: 50%;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .account-page__header {
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 200;

      &:after {
        content: '';
        display: block;
        width: 60px;
        margin-top: 5px;
        border-bottom: 1px solid #38aef0;
      }
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
    }

    .btn {
      margin-top: 20px;
      color: #fff;
      background-color: #808080;
      font-size: 14px;
      text-decoration: none;
    }
  }

  .field {
    margin-bottom: 10px;

    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;

      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
  }

  .btn {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }

  input[type='submit'] {
    float: left;
    margin-top: 20px;
    color: #fff;
    background-color: #38aef0;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

.edit__icon {
  margin-top: 30px;
  height: 300px;
  width: 300px;
  object-fit: cover;
  .edit__user--circle {
    border-radius: 50%;
  }
}


.show__user__page {
  height: 10vh;
  width: 74vw;
  margin: 0 auto;
  overflow: scroll;
  .show__user__details {
    height: 10vh;
    display: flex;
    &-icon {
      margin: auto 0;
      height: 46px;
      width: 46px;
      object-fit: cover;
      .details-icon {
        border-radius: 50%;
      }
    }
    &-name {
      line-height: 10vh;
      padding-left: 10px;
      color: slategrey;

    }
    .like-count {
      color: slategray;
      line-height: 10vh;
      margin-left: 40px;
      &-link {
        text-decoration: none;
        color: slategray;
      }
    }
    .follow__content {
      margin-left: 40px;
      height: 10vh;
      width: auto;
      // width: 30vw;
      line-height: 10vh;
      display: flex;
      .follow__box {
        height: 10vh;
        // width: 5vw;
        display: flex;
        .follow__box__link {
          height: 10vh;
          text-decoration: none;
          color: slategrey;
          // width: 5vw;
        }
        .follow__box__count {
          margin-left: 6px;
          color: slategrey;

        }
        
      }
      .follower__box {
        margin-left: 20px;
        display: flex;
        .follower__box__link {
          text-decoration: none;
          color: slategrey;
        }
        .follower__box__count {
          margin-left: 6px;
          color: slategrey;
        
        }
      }
      .follow_form {
        margin-left: 20px;
        .unfollow__btn {
          text-decoration: none;
          border: solid 2px #55acee;
          padding: 7px;
          color: #55acee;
          font-size: 14px;
          // font-weight: bold;
        }
        .follow__btn {
          text-decoration: none;
          border: solid 2px #55acee;
          padding: 7px;
          color: #55acee;
          font-size: 14px;
          // font-weight: bold;
          
        }
      }
    }
  }
}
