%header
  .header__box
    .header__logo
      %img(src="/assets/jasmin.png" alt="jasmin" width="70%" height="70%")/
    .header__text
      好きなブランドの服のサイズ感をみんなで共有するアプリ
      .appname 
        JustMe &.
    .user__box
      .sign-btn
        = link_to "#", class: "sign-btn-link" do
          Sign In
      .login-btn
        = link_to "#", class: "login-btn-link" do
          Log In
